In [1]:
i=1
while i<=5:
    print("Abhinay")
    i=i+1

Abhinay
Abhinay
Abhinay
Abhinay
Abhinay

In [2]:
i=5
while i>=1:
    print("Abhinay")
    i-=1

Abhinay
Abhinay
Abhinay
Abhinay
Abhinay

In [3]:
i=1
while i<=5:
    print("Abhinay",i)
    i=i+1

Abhinay 1
Abhinay 2
Abhinay 3
Abhinay 4
Abhinay 5

In [4]:
i=5
while i>=1:
    print("Abhinay",i)
    i-=1

Abhinay 5
Abhinay 4
Abhinay 3
Abhinay 2
Abhinay 1

In [5]:
i=1
while i<=5:
    j=0
    while j<=3:
        print(i*j)
        j+=1
    i+=1

0
1
2
3
0
2
4
6
0
3
6
9
0
4
8
12
0
5
10
15

In [15]:
i=1
while i<=5:
    j=0
    while j<=3:
        print(i*j,end=" ")
        j+=1
    print()
    i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12
0 5 10 15

In [19]:
i=5
while i>=1:
    j=3
    while j>=1:
        print(i+j,end='  ')
        j-=1
    print()
    i-=1

8  7  6
7  6  5
6  5  4
5  4  3
4  3  2

In [ ]:
i=2 # table of 2
j=1
while j<=10:
    print(i,"*",j,"=",i*j)
    j+=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [22]:
i=2 # squares of 2 till 10
j=1
while j<=10:
    print(i,"^",j,"=",i**j)
    j+=1

2 ^ 1 = 2
2 ^ 2 = 4
2 ^ 3 = 8
2 ^ 4 = 16
2 ^ 5 = 32
2 ^ 6 = 64
2 ^ 7 = 128
2 ^ 8 = 256
2 ^ 9 = 512
2 ^ 10 = 1024

In [ ]:
i=3 # cubes
j=1
while j<=10:
    print(j,"^",i,"=",j**3)
    j+=1

1 ^ 3 = 1
2 ^ 3 = 8
3 ^ 3 = 27
4 ^ 3 = 64
5 ^ 3 = 125
6 ^ 3 = 216
7 ^ 3 = 343
8 ^ 3 = 512
9 ^ 3 = 729
10 ^ 3 = 1000

In [34]:
i=2 # first 10 even numbers
while i<=20:
    print(i)
    i=i+2

2
4
6
8
10
12
14
16
18
20

In [35]:
i=1
while i<=20:
    print(i)
    i+=2

1
3
5
7
9
11
13
15
17
19

In [ ]:
#Sum of 1st 10 natural no's
i=1
j=0
while i<=10:
    j=j+i
    i+=1
print("Sum of first 10 Natural no. ",j)

Sum of first 10 Natural no.  55

In [39]:
#Sum of first 10 even no.
i=2
j=0
while i<=20:
    j=j+i
    i+=2
print("Sum of first 10 even no.",j)

Sum of first 10 even no. 110

In [43]:
#WAP to print table of a number entered from the user.
i=int(input("Enter a number"))
j=1
while j<=10:
    print(i,"*",j,"=",i*j)
    j+=1

78 * 1 = 78
78 * 2 = 156
78 * 3 = 234
78 * 4 = 312
78 * 5 = 390
78 * 6 = 468
78 * 7 = 546
78 * 8 = 624
78 * 9 = 702
78 * 10 = 780

In [46]:
#WAP to print all even numbers that falls between two numbers(exclusive both numbers)entered from the user.
i=int(input("Enter the first number:"))
j=int(input("Enter the second number:"))
print("All even numbers between",i,"and",j,":-")
while i<=j:
    print(i)
    i+=2

All even numbers between 30 and 50 :-
30
32
34
36
38
40
42
44
46
48
50